{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load thumbnail %}

{% block title %}Forum: Detail{% endblock %}


    {% block extrahead %}
{#    <meta http-equiv="refresh" content="1"/>#}
        <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
        <link rel="stylesheet" href="{% static "css/forum_base.css" %}">
{% endblock %}

{% block container %}

      <h1>{{ question.title }}</h1>

        {% if question.timestamp %}

<div class="container profile-body">
  <div class="row">
             <div class="col-sm-12">
            <div class="jumbotron ">
            <h1>{{ question.author.name }}</h1>

        <p>{{ question.content|safe|linebreaksbr }}</p>

                {{ question.timestamp }}
        {% endif %}
</div></div>

</div>

    <div class="row">
        <div class="col-sm-12">
            <div class="jumbotron">
            <iframe src="{% url "forumapp:add_comment_to_question" pk=question.pk %}" height="150px" width="1000" style="border: transparent"></iframe>
            {% for comments in question.comments.all %}
                <div class="jumbotron">
{{ comments.content }}<br>
{{ comments.author_comment }}
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</div>






{#          {% if user.is_authenticated %}#}
{#          <a class="btn btn-primary" href="{% url 'question_edit' pk=question.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>#}
{#          <a class="btn btn-primary" href="{% url 'question_remove' pk=question.pk %}"><span class="glyphicon glyphicon-remove"></span></a>#}
{#      {% endif %}#}

{#      <hr>#}
{#  <a class="btn btn-primary btn-comment" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>#}
{#  <div class="container">#}



{% endblock container %}