{% extends "accounts/auth_base.html" %}

{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Log In{% endblock %}




{% block form_heading %}Please Log In{% endblock %}

{% block form %}

  {% crispy form %}

  <div class="form-message">
    <p>
      Don't have an account? <a href="{% url 'accounts:signup' %}">Sign up</a>.
    </p>
  </div>

{#    <div>#}
{##}
{#    Extra Added        For Authentication #}
{#    <li>#}
{#       <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">Login with Facebook</a>#}
{#     </li>#}
{#     <li>#}
{#       <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">Login with Google</a>#}
{#     </li>#}
{#     <li>#}
{#       <a href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}">Login with Twitter</a>#}
{#     </li>#}
{#    </div>#}

{% endblock form %}

